<% include ../common/header.ejs%>
<link rel="stylesheet" tyep="text/css" href="./css/content.css">
<!-- /.container -->
<div class="container main_article">
    <div class="row">
        <div class="col-md-8 left_content">
            <h1>MAC 下解决端口占用的问题</h1>
            <div class="top_description">
                    <span class="write_date">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;2018年05月25日 16:31:54
                    </span>
                <span class="read_number">
                        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;阅读量:&nbsp;10</span>
            </div>
            <hr>
            <p>
            <h4>查看端口号</h4>
            <span class="explain">终端输入：sudo lsof -i tcp:port 将port换成被占用的端口(如：8086、9998) 将会出现占用端口的进程信息。
                    </span>
            <br>
            <h4>杀死占用端口的PID进程</h4>
            <span class="explain">
                找到进程的PID,使用kill命令：kill PID（进程的PID，如2044），杀死对应的进程</span>
                        <br>
                </p>
                <div>
                    <b>文章标签:
                    </b>
                    <a class="btn btn-default btn_style" href="#" role="button">Mac</a>
                    <a class="btn btn-default btn_style" href="#" role="button">端口</a>
                    <br>
                    <br>
                    <b>个人分类： </b>
                    <a href="#"> 问题解决</a>
                </div>
        </div>
        <!-- col-md-8 -->
        <%include ../common/sidebar.ejs%>
    </div>
    <!-- row-->
</div>
<% include ../common/footer.ejs%>>