<% include ../common/header.ejs%>
<!-- /.container -->
<div class="container main_article">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <!-- 媒体对象列表 -->
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="./img/01.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/problem_content">
                            <h3 class="media-heading  media-heading">MAC 下解决端口占用的问题</h3>
                            <h5 class="main_date">·&nbsp; 2018年05月22日</h5>
                            <p class="letterspacing">终端输入：sudo lsof -i tcp:port 将port换成被占用的端口(如：8086、9998) 将会出现占用端口的进程信...</p>
                        </a>
                    </div>
                    <hr class="split">
                    <div>
                        <div class="col-md-9 tags">
                            <a href="#">
                                <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;HTML</a>&nbsp;
                            <a href="#">
                                <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;CSS</a>
                        </div>
                        <div class="col-md-3">
                            <p class="btn pull-right  btn_content_style" href="#" role="button">阅读全文 &gt;</p>
                        </div>
                    </div>

                </li>
            </ul>
            <!-- 分页的实现 -->

            <div class="center-block">
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled">
                            <a href="#">
                                <span aria-hidden="true">&larr;</span> 上一页</a>
                        </li>
                        <li class="next">
                            <a href="#">下一页
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- col-md-8 -->
        <%include ../common/sidebar.ejs%>
    </div>
    <!-- row-->
</div>

<% include ../common/footer.ejs%>>