<% include ../common/header.ejs%>

<div class="container main_article">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <!-- 媒体对象列表 -->
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="./img/02.jpeg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/front_content">
                            <h3 class="media-heading  media-heading">CSS加载方式link与@import的区别</h3>
                            <h5 class="main_date">·&nbsp; 2018年05月22日</h5>
                            <p class="letterspacing"> 我们都知道,link与@import都是加载css文件,但是还是存在细小的差别.
                                1.老祖宗的不同
                                link属于XHTML的标签
                                @import只是css提供的一种方式
                                link标签还可以加载css之外的东西,例如定义Rss,定义rel连接属性
                                @import只能加载css...</p>
                        </a>
                    </div>
                    <hr class="split">
                    <div>
                        <div class="col-md-9 tags">
                            <a href="#">
                                <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;HTML</a>&nbsp;
                            <a href="#">
                                <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;CSS</a>
                        </div>
                        <div class="col-md-3">
                            <p class="btn pull-right  btn_content_style" href="#" role="button">阅读全文 &gt;</p>
                        </div>
                    </div>

                </li>
            </ul>
            <!-- 分页的实现 -->

            <div class="center-block">
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous disabled">
                            <a href="#">
                                <span aria-hidden="true">&larr;</span> 上一页</a>
                        </li>
                        <li class="next">
                            <a href="#">下一页
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- col-md-8 -->
       <%include ../common/sidebar.ejs%>
    </div>
    <!-- row-->
</div>
<% include ../common/footer.ejs%>>