<% include ../common/header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/content.css">

<!-- /.container -->
<div class="container main_article">
    <div class="row">
        <div class="col-md-8 left_content">
            <h1><%= title %></h1>
            <div class="top_description">
                    <span class="write_date"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= updateTime %>
                    </span>
                <span class="read_number"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;阅读量:&nbsp;101</span>
            </div>
            <hr>
            <p>
                我们都知道,link与@import都是加载css文件,但是还是存在细小的差别.
                <br>
            <h4>1.老祖宗的不同</h4>
            <span class="explain">link属于XHTML的标签</span>
            <br>
            <span class="explain"> @import只是css提供的一种方式</span>
            <br>
            <span class="explain">link标签还可以加载css之外的东西,例如定义Rss,定义rel连接属性</span>
            <br>
            <span class="explain">@import只能加载css</span>
            <h4>2.加载顺序的不同</h4>
            <span class="explain">当页面被加载的时候,link引用的css会同时加载,而@import引用的css只能等到页面全部下载完再被加载.</span>
            <br>
            <span class="explain">所以,使用@import时,网速快慢会影响页面样式的显示</span>
            <br>
            <h4>3.兼容性不同</h4>
            <span class="explain"> @import是css2.1提出的,所以老浏览器不支持,@import在ie5以上才能识别</span>
            <br>
            <h4>4.Dom控制样式的区别</h4>
            <span class="explain"> 当使用js控制dom去改变样式的时候,只能使用link标签,而@import不是dom可以控制的</span>
            <br>
            <h4>5.@import可以在css中再次引入其他样式表</h4>
            <span class="explain">比如可以创建一个主样式表，在主样式表中再引入其他的样式表</span>
            <br>
            <br>
            <b>相关例子如下:</b>
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">main.css</h3>
                </div>
                <div class="panel-body">
                    @import 'a.css'
                    <br> @import 'b.css'
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">a.css</h3>
                </div>
                <div class="panel-body">
                    p{color:blue;}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">b.css</h3>
                </div>
                <div class="panel-body">
                    p{color:yellow;}
                </div>
            </div>
            <span>
                            这样更有利于修改和扩展.
                            <br> 不过考虑到多方面的因素,还是使用link标签比较好.
                        </span>
            </p>
            <div>
                <b>文章标签:
                </b>
                <!--<a class="btn btn-default btn_style" href="#" role="button"><></a>-->
                <!--<a class="btn btn-default btn_style" href="#" role="button">link</a>-->
                <!--<a class="btn btn-default btn_style" href="#" role="button">@import</a>-->
                <% for(var i = 0;i < tags.length;i++){ %>
                <a class="btn btn-default btn_style" href="#" role="button"><%= tags[i] %></a>
                <% } %>
                <br><br>
                <b>个人分类： </b>
                <a href="#"><%= archives %></a>
            </div>
        </div>
        <!-- col-md-8 -->
        <% include ../common/sidebar.ejs %>
    </div>
    <!-- row-->
</div>
<% include ../common/footer.ejs %>>