<% include ../common/header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/content.css">

<!-- /.container -->
<div class="container main_article">
    <div class="row">
        <div class="col-md-8 left_content">
            <h1>CSS加载方式link与@import的区别</h1>
            <div class="top_description">
                    <span class="write_date"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;2018年05月22日 16:31:54
                    </span>
                <span class="read_number"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;阅读量:&nbsp;101</span>
            </div>
            <hr>
            <p>
                我们都知道,link与@import都是加载css文件,但是还是存在细小的差别.
                <br>
            <h4>1.老祖宗的不同</h4>
            <span class="explain">link属于XHTML的标签</span>
            <br>
            <span class="explain"> @import只是css提供的一种方式</span>
            <br>
            <span class="explain">link标签还可以加载css之外的东西,例如定义Rss,定义rel连接属性</span>
            <br>
            <span class="explain">@import只能加载css</span>
            <h4>2.加载顺序的不同</h4>
            <span class="explain">当页面被加载的时候,link引用的css会同时加载,而@import引用的css只能等到页面全部下载完再被加载.</span>
            <br>
            <span class="explain">所以,使用@import时,网速快慢会影响页面样式的显示</span>
            <br>
            <h4>3.兼容性不同</h4>
            <span class="explain"> @import是css2.1提出的,所以老浏览器不支持,@import在ie5以上才能识别</span>
            <br>
            <h4>4.Dom控制样式的区别</h4>
            <span class="explain"> 当使用js控制dom去改变样式的时候,只能使用link标签,而@import不是dom可以控制的</span>
            <br>
            <h4>5.@import可以在css中再次引入其他样式表</h4>
            <span class="explain">比如可以创建一个主样式表，在主样式表中再引入其他的样式表</span>
            <br>
            <br>
            <b>相关例子如下:</b>
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">main.css</h3>
                </div>
                <div class="panel-body">
                    @import 'a.css'
                    <br> @import 'b.css'
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">a.css</h3>
                </div>
                <div class="panel-body">
                    p{color:blue;}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">b.css</h3>
                </div>
                <div class="panel-body">
                    p{color:yellow;}
                </div>
            </div>
            <span>
                            这样更有利于修改和扩展.
                            <br> 不过考虑到多方面的因素,还是使用link标签比较好.
                        </span>
            </p>
            <div>
                <b>文章标签:
                </b>
                <a class="btn btn-default btn_style" href="#" role="button">CSS</a>
                <a class="btn btn-default btn_style" href="#" role="button">link</a>
                <a class="btn btn-default btn_style" href="#" role="button">@import</a>
                <br><br>
                <b>个人分类： </b>
                <a href="#"> 前端知识</a>
            </div>
        </div>
        <!-- col-md-8 -->
        <!-- 侧栏 -->
        <div class="col-md-4">
            <!-- 搜索框 -->
            <div class="search bar">
                <form>
                    <div class="wrapbar">
                        <input type="text" placeholder="请输入您要搜索的内容...">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- 个人简介 -->
            <div class="introduce">
                <h3 class="line">
                    <b>简介:</b>
                </h3>
                <p>本博客分享自己所了解的前端知识,以及一些常见的问题的解决方法,并希望能够与大家积极交流,彼此之间不断进步.</p>
            </div>
            <!-- 分类 -->
            <div class="sort">
                <h3 class="line">
                    <b>文章分类</b>
                </h3>
                <div class="list-group">
                    <a href="/front_list" class="list-group-item ">
                        前端知识
                        <span class="badge">1</span>
                    </a>
                    <a href="/problem_list" class="list-group-item">问题解决
                        <span class="badge">1</span>
                    </a>
                    <a href="#" class="list-group-item">文章转发
                        <span class="badge"></span>
                    </a>
                    <a href="#" class="list-group-item">常用组件
                        <span class="badge"></span>
                    </a>
                </div>
            </div>

            <!-- 标签 -->
            <div class="tag">
                <h3 class="line">
                    <b>标签</b>
                </h3>
                <a class="btn btn-default btn_style" href="#" role="button">HTML</a>
                <a class="btn btn-default btn_style" href="#" role="button">CSS</a>
                <a class="btn btn-default btn_style" href="#" role="button">JavaScript</a>
                <a class="btn btn-default btn_style" href="#" role="button">组件</a>
                <a class="btn btn-default btn_style" href="#" role="button">总结</a>
            </div>
        </div>
        <!-- col-md-4 -->
    </div>
    <!-- row-->
</div>
<% include ../common/footer.ejs %>>