<p id="back-to-top">
    <a href="#top">
      <span>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </span>
    </a>
</p>
<footer>
    <div class="text-center">
        <div class="text-muted copyright ">
            &copy; 2017 - 2018 &nbsp;
            <i class="fa fa-heart"></i>
            &nbsp; ZhengWei Gao
            <br> Github:
            <a target="_blank" href="https://github.com/GaoZWei">GaoZWei</a>
            &nbsp;&nbsp;&nbsp;邮箱:
            <span>1520045270@qq.com</span>
        </div>
    </div>
</footer>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#back-to-top").hide();
        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 200) {
                    $("#back-to-top").fadeIn(500);
                } else {
                    $("#back-to-top").fadeOut(500);
                }
            });
            $('#back-to-top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 500);
                return false;
            });
        });
    });
</script>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>