<% include ../common/header.ejs%>
<link rel="stylesheet" type="text/css" href="./css/hobby.css">
<div class="container main_article">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="hobby_title">
                <h2>在这里记录自己一些的小爱好</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <video width="320" height="240" controls="controls">
                        <source src="media/video1.mp4" type="video/mp4" />
                        <source src="movie.ogg" type="video/ogg" />
                        <source src="movie.webm" type="video/webm" />
                        <object data="movie.mp4" width="320" height="240">
                            <embed src="movie.swf" width="320" height="240" />
                        </object>
                    </video>
                    <div class="video_description">斑马前奏</div>
                </div>

                <div class="col-md-6">
                    <video width="320" height="240" controls="controls">
                        <source src="media/video1.mp4" type="video/mp4" />
                        <source src="movie.ogg" type="video/ogg" />
                        <source src="movie.webm" type="video/webm" />
                        <object data="movie.mp4" width="320" height="240">
                            <embed src="movie.swf" width="320" height="240" />
                        </object>
                    </video>
                    <div class="video_description">斑马前奏</div>
                </div>
            </div>
        </div>


        <!-- col-md-8 -->
       <% include ../common/sidebar.ejs%>
    </div>
    <!-- row-->
</div>
<% include ../common/footer.ejs%>